.feedback-result {
    background-color: white;
    margin-top: 30px;
    border-top: 5px solid #04aa6d;
    width: 100%;
    padding: 20px;
}

.feedback-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
.feedback-content-item {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.feedback-content-item-name {
 flex: 0.2
}
.feedback-content-item-message {
    color: gray;
    flex: 0.8;
    text-align: left;
    margin-left: 5px;
}
@media screen and (max-width: 600px) {
    .feedback-result {
        padding: 5px;
    }
    .feedback-content-item {
        width: 100%;
        max-width: 100%;
    }
}
